:root {
  /**
* Colors
*/
  --background: hsla(270, 64%, 40%, 1);
  --background-smoky: hsla(240, 29%, 97%, 1);
  --secondary: hsla(310, 85%, 43%, 1);
  --accent: hsla(13, 91%, 55%, 1);

  --text-black: hsla(0, 0%, 0%, 1);
  --text-white: hsla(0, 0%, 100%, 1);
  --text-smoky: hsla(240, 13%, 64%, 1);
  --text-accent: hsla(158, 88%, 38%, 1);

  /**
* Fonts
*/
  --font-weight-bolder: 700;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --font-size-huge: 28px;
  --font-size-large: 26px;
  --font-size-big: 22px;
  --font-size-lg: 20px;
  --font-size-medium: 18px;
  --font-size-small: 16px;
  --font-size-tiny: 14px;
  --font-size-miniature: 13px;
  --font-size-microscopic: 12px;

  --line-height-huge: 36px;
  --line-height-big: 32px;
  --line-height-large: 28px;
  --line-height-medium: 24px;
  --line-height-small: 20px;
  --line-height-tiny: 16px;
  --line-height-miniature: 14px;

  --font-size-base: 16px;
  /**
* Breakpoints
*/

  --screen-desktop: "(min-width: 1400px)";
  --screen-tablet: "(min-width: 1024px)";
  --screen-mobile-only: "(max-width:320px)";

  /**
* Layout
*/

  /**

/**
* Sizes
*/
  --height-header: 88px;
  --height-header-mobile: 56px;
  --height-footer: 64px;

  /**


  /**
* Radius
*/

  --border-radius-big: 36px;
  --border-radius-medium: 24px;
  --border-radius-card: 16px;
  --border-primary: 8px;

  /**
* Box-shadows
*/

  /**
* Z-indexes
*/

  /* --z-index-header: 50; */
}
