@import "globals.css";
@import "generic.css";
@import "fonts.css";
@import "delivery.css";
@import "HeaderComponent.css";
@import "FormComponent.css";
@import "TotalBillComponent.css";
@import "CardComponent.css";
@import "utils.css";

@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100dvh;
  background-color: var(--background);
}

.smoky-little {
  color: var(--text-smoky);
  font-size: var(--font-size-miniature);
  line-height: var(--line-height-tiny);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.grayscaled {
  filter: grayscale(100%);
}

hr.divider {
  border-top: 1px solid #bbb;
}

.checkbox {
  width: 22px;
  height: 22px;
}

.primary-button {
  font-family: "Segoe UI Bold";
  min-width: 100%;
  min-height: 44px;
  color: var(--text-white);
  font-size: var(--font-size-small);
  line-height: var(--line-height-medium);
  background-color: var(--secondary);
  border-radius: var(--border-primary);
}

.instant-withdrawal {
  & p {
    margin-top: 5px;
  }
}

/* ---------------------------------------------------------------------------------------------------- */
main {
  width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 40px;

  border-radius: var(--border-radius-medium);
  background-color: var(--background-smoky);

  .cart-wrapper {
    padding: 0 16px;
  }

  & h1 {
    font-weight: var(--font-weight-bolder);
    font-size: 20px;
    line-height: 28px;
  }

  & section {
    width: 100%;
  }

  .top-select {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 14px 0;

    .css-checkbox + label::before {
      margin-right: 11px;
    }
  }

  .form-cards-wrapper {
    background-color: white;
    padding: 16px 16px 24px 16px;
    border-radius: var(--border-radius-card);
  }

  .text-w-edit {
    display: flex;
    justify-content: space-between;

    & button {
      color: var(--secondary);

      & h1 {
        padding-top: 2px;
        line-height: 24px;
        font-size: var(--font-size-small);
      }
    }
  }

  .cancel-info {
    display: flex;
    gap: 8px;
    padding: 0 8px;

    & h3 {
      font-size: var(--font-size-miniature);

      & span {
        cursor: pointer;
        border-bottom: 1px dashed;
        color: var(--text-accent);
      }
    }
  }
}
/* ---------------------------------------------------------------------------------------------------- */

footer {
  text-align: center;
  margin-bottom: var(--height-header-mobile);

  .footer-text-container {
    padding: 24px;
  }

  .footer-paragragh {
    color: rgba(255, 255, 255, 0.7);
  }

  & nav {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    padding: 0 13px;
    background: white;

    & ul {
      min-height: 56px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    padding: 0 24px;
    grid-template-columns: 1fr minmax(303px, 303px);

    .form-cards-wrapper {
      grid-column: 1;
      padding: 16px 24px 24px 24px;
      max-width: 638px;
    }

    .cart-wrapper {
      padding: 0;
      padding-top: 34px;
      padding-right: 32px;

      & h1 {
        font-size: var(--font-size-huge);
        line-height: var(--line-height-huge);
      }
    }

    .top-select {
      padding-top: 27px;
      .css-checkbox + label::before {
        margin-right: 11px;
      }
    }

    .text-w-edit {
      & button {
        & h1 {
          line-height: var(--line-height-big);
        }
      }

      .forms-title {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-big);
      }
    }
  }

  nav {
    margin-right: 8px;
    max-height: 56px;
    padding-bottom: 6px;
    padding-left: 20px;
    display: flex;
    gap: 40px;
    align-items: center;

    & div {
      height: 32px;
    }

    & a {
      display: flex;
      flex-direction: column;
    }

    & img {
      max-width: 28px;
      max-height: 28px;
    }

    .icons-container {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  footer {
    & nav {
      display: none;
    }
  }
}
