@import "globals.css";
@import "generic.css";

@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  background-color: var(--background);
}

header {
  color: var(--text-white);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.15rem;

  & button {
    width: 20px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url("/assets/images/vector/search-icon.svg") no-repeat center;
    opacity: 0.5;
    cursor: pointer;
  }

  & form {
    display: flex;
    width: 100%;
    min-height: 48px;
    padding: 0 20px;
    border-radius: var(--border-radius-big);
    background: rgb(255, 255, 255, 0.2);

    & input {
      width: 100%;
      display: flex;
      padding: 2px;
      background: none;
      border: none;
      color: white;

      &::placeholder {
        color: white;
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        border: none;
        color: white;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        min-height: 24px;
        width: 24px;
        margin-left: 0.4em;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
        cursor: pointer;
      }
    }
  }

  & .big-screen-h {
    display: none;
  }

  & .mobile-h {
    width: 100%;
    min-height: 56px;
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;

    & div {
      min-height: 100%;
      padding-top: 17px;
    }

    & h1 {
      line-min-height: 100%;
      font-size: var(--font-size-medium);
    }
  }
}

main {
}

footer {
  & nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 13px;
    background: white;

    & ul {
      min-height: 56px;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1024px) {
  header {
    & h1 {
      padding: 0 32px 0 15px;
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-big);
      line-height: var(--line-height-medium);
      letter-spacing: 0.05rem;
    }

    .burger-icon-container {
      display: flex;
      justify-content: center;
      min-height: 48px;
      min-width: 48px;
      border-radius: var(--border-primary);
      border: rgb(255, 255, 255, 0.45) solid;
    }
  }

  nav {
    min-height: 56px;
    padding-left: 32px;
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;

    & div {
      height: 32px;
    }

    & h3 {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-microscopic);
      line-height: var(--line-height-small);
      letter-spacing: 0.02rem;
    }
  }

  header {
    & .mobile-h {
      display: none;
    }

    & .big-screen-h {
      display: flex;
      width: 100%;
      min-height: 88px;
      align-items: center;
      padding: 0 20px 0 24px;
    }
  }

  footer {
    & nav {
      display: none;
    }
  }
}
