.total-bill-section {
  padding: 8px 16px 0px 16px;
  margin-top: 20px;

  .cancel-info {
    padding: 8px 8px 12px 8px;
    background-color: var(--smoky-dark);
    border-radius: var(--border-primary);
  }

  .sm-hidden {
    display: none;
  }

  & a {
    text-decoration: underline rgba(0, 0, 0, 0.1);
    text-underline-offset: 3px;
  }

  @media (min-width: 1024px) {
    padding: 16px 24px 24px 24px;
    background: white;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-card);
    justify-self: right;
    max-height: 572px;
    grid-column: 2;
    grid-row-start: 1;

    .text-w-edit {
      align-items: center;
    }

    .text-secondary {
      width: fit-content;
      border-bottom: dashed;
    }

    .sm-hidden {
      display: flex;
    }
  }
}
