/* Paddings */
.p-0 {
  padding: 0px;
}
/* Margins */

.m-0 {
  margin: 0px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 24px;
}

.mt-6 {
  margin-top: 32px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

/* --------------------------------------------------------------------- */

/* Fonts utils */

.font-mini {
  font-size: var(--font-size-miniature);
  font-family: "Segoe UI Regular";
}

.font-tiny {
  font-size: var(--font-size-tiny);
  font-family: "Segoe UI Regular";
}

.font-sm {
  font-size: var(--font-size-small);
}

.lh-1 {
  line-height: 16px;
}

.lh-2 {
  line-height: 20px;
}

.lh-3 {
  line-height: 24px;
}

.ls-negative {
  letter-spacing: -0.25px;
}

.text-secondary {
  color: var(--secondary);
}

@media (min-width: 1024px) {
  .md-mt-2 {
    margin-top: 6px;
  }

  .md-mt-4 {
    margin-top: 12px;
  }

  .md-font-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-huge);
  }

  .md-hidden {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .sm-hidden {
    display: none !important;
  }
}

/* --------------------------------------------------------------------- */

/* Layout */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 8px;
}

/* --------------------------------------------------------------------- */
