/* Margins */

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 24px;
}

.mt-6 {
  margin-top: 32px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}

/* --------------------------------------------------------------------- */

/* Fonts utils */

.font-mini {
  font-size: var(--font-size-miniature);
  font-family: "Segoe UI Regular";
}

.font-sm {
  font-size: var(--font-size-small);
}

.lh-1 {
  line-height: 16px;
}

.lh-2 {
  line-height: 20px;
}

.lh-3 {
  line-height: 24px;
}

.ls-negative {
  letter-spacing: -0.25px;
}

/* --------------------------------------------------------------------- */

/* Layout */

.flex {
  display: flex;
}

/* --------------------------------------------------------------------- */
